@using Web.Core.Recaptcha
@using System.Configuration

@model WebApp.Models.ForgotPasswordViewModel

@{
    //Recaptcha

    string siteKey = ConfigurationManager.AppSettings["Recaptcha2SiteKey"];
    string recaptcha2InputName = System.Configuration.ConfigurationManager.AppSettings["Recaptcha2VarName"];
    string recaptchaErrMsgId = "recaptchaErrMsg";
}

@{
    string formId = "formPassword";
    var htmlAttributes = new { id = formId };

    string emailErrorMsgId = "emailErrorMsg";

    var statusResult = Model.ResultStatus;


}

<div class="product-intro-section">
    <h2 class="page-title">忘記密碼</h2>
    <div class="shopping-cart-blk member-apply-blk">
        @using (Html.BeginForm("ForgotPassword", "Member", FormMethod.Post, htmlAttributes))
        {
            @Html.AntiForgeryToken()
            <div class="checkout-form-blk">
                <p class="forget-hint">請輸入您的<strong class="bold">「帳號」(即電子郵件)</strong>，如有疑問可與本商城客服人員聯絡。</p>
                <div class="form-row flex">
                    @Html.LabelFor(u => u.Email, new { @class = "flex-label require" })
                    @Html.TextBoxFor(u => u.Email, new { @class = "flex-ipt", placeholder = "請輸入您的電子信箱" })
                    @Html.ValidationMessageFor(m => m.Email, null, new { @class = "err", id = emailErrorMsgId })
                </div>

                <div class="form-row flex">

                    <div class="flex-ipt-blk container">
                        @Html.Recaptcha2(siteKey)
                        @Html.ValidationMessage(recaptcha2InputName, "", new { @id = recaptchaErrMsgId, @class = "err" })


                    </div>
                </div>
                <div class="shopping-go-on-blk">
                    <button id="btnSubmit" type="button" class="btn-orange">啟動密碼重設程序</button>
                </div>

            </div>
        }
       

    </div>
</div>


@section scripts{


    <script type="text/javascript">

        $(document).ready(function () {

            $('#btnSubmit').click(function (e) {
                e.preventDefault;

                var form = $("#@formId");
                if (!form.valid()) {
                    return false;
                }
                Loading('@formId');

                var isValid = canSubmit();
                $.when(isValid).then(function (data) {

                    if (data) {
                        form.submit();
                    } else {
                        StopLoading('@formId');
                    }
                });
            });

            function canSubmit() {
                var def = $.Deferred();

                var validEmail = emailValid();
                var validCaptcha = captchaValid();

                $.when(validEmail, validCaptcha)
                   .then(function (email, captcha) {

                       var spanEmailErrMsg = $('#@emailErrorMsgId');
                       var spanCaptchaErrMsg = $('#@recaptchaErrMsgId');
                       if (email) {
                           spanEmailErrMsg.text('');

                       } else {
                           spanEmailErrMsg.text('這個Email沒有註冊過');
                       }

                       if (captcha) {
                           spanCaptchaErrMsg.text('');
                       } else {
                           spanCaptchaErrMsg.text('您尚未通過圖形驗證');
                       }

                       if (email && captcha) {
                           def.resolve(true);
                       } else{
                           def.resolve(false);
                       }
                   });

                return def.promise();


            }

            function emailValid() {
                var def = $.Deferred();
                var email = $('#@Html.IdFor(m=>m.Email)').val();
                $.ajax({
                    type: "POST",
                    cache: false,
                    url: '/Member/CheckUserName',
                    data: { 'email': email },
                    success: function (result) {
                        if (result.toLowerCase() == 'true') {
                            def.resolve(false);
                        } else {
                            def.resolve(true);
                        }
                    },
                    error: function () {
                        def.reject(false);
                    }
                });

                return def.promise();

            }

            function captchaValid() {
                var def = $.Deferred();
                var recaptchaResponse = $('#@recaptcha2InputName').val();
                if (recaptchaResponse) {
                    $.ajax({
                        type: "POST",
                        cache: false,
                        url: '/Captcha/CaptchaValidAsync',
                        data: { '@recaptcha2InputName': recaptchaResponse },
                        success: function (result) {
                            if (result.toLowerCase() == 'true') {
                                def.resolve(true);
                            } else {
                                def.resolve(false);
                            }
                        },
                        error: function () {
                            def.resolve(false);
                        }
                    });
                } else {
                    def.resolve(false);
                }

                return def.promise();
            }

           


        })//end ready

    </script>
}
