@model WebApp.Models.RegisterConfirmModel

@{
    ViewBag.Title = "會員Email驗證";
    string formId = "formSendMail";
}

@*<div class="container">


    <div class="alert alert-dismissable alert-warning">
        <h3 style="line-height:2">@Model.NickName 您好,</h3>
        <h4 style="line-height:2">
            您的會員帳號尚未完成Email認證.
            請至您註冊的電子信箱 @Model.Email 開啟我們mail給您的會員認證信來完成認證.
        </h4>

        <h4 style="line-height:2">
            <span class="text-danger"> ※您必須完成Email認證才可開通會員權限</span>
        </h4>

        <p></p>
        <p>
            @using (Html.BeginForm("SendRegisterConfirmMail", "Member", FormMethod.Post, new { @id = formId }))
            {
                @Html.AntiForgeryToken()
                @Html.HiddenFor(m => m.UserId)

                <button type="button" id="btnSubmit" class="btn btn-primary">重發認證信</button>

                @Html.ValidationSummary(true)

            }

        </p>

    </div>


</div>*@

@section scripts{
    <script>

        $(document).ready(function () {

            $('#btnSubmit').click(function (e) {
                e.preventDefault;

                var form = $("#@formId");
                if (!form.valid()) {
                    return false;
                }
                Loading('@formId');

                form.submit();
            });

           
        }) //end readty
    </script>
}



<div class="product-intro-section">
    <div class="checkout-form-blk">


        <h3 class="title">@Model.NickName 您好，  您的會員帳號尚未完成Email認證</h3>

        <h4>請至您註冊的電子信箱 @Model.Email 開啟我們mail給您的會員認證信來完成認證，驗證成功即成為本站會員。</h4>
        <br>
        <h4><em class="shine"> ※您必須完成Email認證才可開通會員權限</em></h4>
       
     
       
            @using (Html.BeginForm("SendRegisterConfirmMail", "Member", FormMethod.Post, new { @id = formId }))
            {
                @Html.AntiForgeryToken()
                @Html.HiddenFor(m => m.UserId)

                 <button type="button" id="btnSubmit" class="btn-orange">重發認證信</button>
            }


    </div>


</div>

